.DrawSpace {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.DrawSpace-widgets {
	width: 30%;
}

.DrawSpace-main {
	width: 70%;
	display: grid;
	place-items: center;
}

.DrawSpace-main .reset {
	background-color: #00bfa5;
	border: none;
	outline: none;
	color: white;
	border-radius: 0.5rem;
	padding: 10px;
	margin: 10px 0px 20px 0px;
	cursor: pointer;
	font-size: 1.5rem;
}

.DrawSpace-main .draw-area {
	display: grid;
	place-items: center;
	width: 65vw;
	height: 70vh;
	border: 1px solid black;
}

.draw-area .inner {
	width: 100%;
	height: 100%;
	text-align: center;
}

.inner button {
	position: relative;
	border-radius: 50%;
	cursor: pointer;
}
